.home{
    width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.my-name{
  padding:10px;
  white-space: nowrap;
  min-width: 150px;
  max-width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.description{
  padding:10px;
  min-width: 250px;
}

.my-image{
  max-width: 70%;
  border-radius: 50%;
}