.work{
    padding: 10px;
}

.company-name{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: #ffff;
    font-weight: bold;
}

.work-body{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prod-name{
    color: #ffff;
    font-weight: 800;
}

.tech-name{
    width: 25%;
}

.desc-name{
    width: 45%;
    text-align: justify;
}

.work-header{
    text-decoration: underline;
}

.divider{
    width: 100%;
    border-bottom: 1px solid #007BFF;
    padding-bottom: 10px;
}

.prod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    margin-bottom: 8px;
    height: 50px;
    box-shadow: 1px 1px 5px 5px #48484a;
    border-radius: 10px;
    background-color: #4c4c4c;
}

.prod-head{
    border-radius: 10px;
    overflow: hidden;
    transition: max-height .3s ease-out;
    max-height: 0px;
    box-shadow: 1px 1px 5px 5px #c1c1ca;
    margin-bottom: 20px;
}

.prod-description{
    padding: 15px;
    border-radius: 2px;
    background-color: #ffffffbf;
}

.prod-description > a {
    color: #007BFF;
}

.img-box {
    
}

.prod-row {
    width: 50%;
    min-width: 290px;
}