.work{
    padding: 10px;
}

.work-body{
    padding-top: 20px;
}

.prod-name{
   
}

.tech-name{
    width: 25%;
}

.desc-name{
    width: 45%;
    text-align: justify;
}

.work-header{
    text-decoration: underline;
}

.divider{
    width: 100%;
    border-bottom: 1px solid #007BFF;
    padding-bottom: 10px;
}

.prod{
    display: flex;
    justify-content: space-between;
   border-bottom: 1px solid black;
   padding: 15px 5px 0px 5px;
   margin-bottom: 8px;
}

.prod-head{
    border-radius: 10px;
    overflow: hidden;
    transition: max-height .3s ease-out;
    max-height: 0px;
    box-shadow: 1px 1px 5px 5px #c1c1ca;
}

.prod-description{
    padding: 15px;
    border-radius: 2px;
}